h1 {
  text-align: center;
}
.messages,
.messagesVisual {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  padding: 4em;
  margin: 3em;
}
.plant {
  height: 3em;
  width: 100px;
  border: 1px solid #f1f1f1;
}

/* Havest Table */
table {
  border-collapse: collapse;
  width: 40%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
